{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Active Bookings{% endblock %}</h1>
  {% if g.customer %}
    <a class="action" href="{{ url_for('booking.create') }}">New Booking</a>
    <a class="action" href="{{ url_for('car.index') }}">See Cars</a>
  {% else %}
    <a class="action" href="{{ url_for('customer.login') }}">Please login to create a booking</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Pickup Time</th>
        <th>Car Name</th>
        {% if g.admin or g.customer %}
          <th>Edit</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <td>{{ booking['id'] }}</td>
          <td>{{ booking['name'] }}</td>
          <td>{{ booking['pickup_time'] }}</td>
          <td>{{ booking['name'] }}</td>
          {% if g.admin or g.customer == booking['customer_id'] %}
            <td><a class="action" href="{{ url_for('booking.update', id=booking['id']) }}">Edit</a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

