{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Active Bookings{% endblock %}</h1>
  {% if g.customer %}
    <a class="action" href="{{ url_for('booking.create') }}">New Booking</a>
    <a class="action" href="{{ url_for('car.index') }}">See Cars</a>
  {% else %}
    <a class="action" href="{{ url_for('customer.login') }}">Please login to create a booking</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for booking in bookings %}
    <article class="post">
      <header>
        {% if g.customer['id'] == booking['customer_id'] %}
	  <h1>Mr. {{ booking['name'] }} Bookings</h1>
	  <div class="about">from {{ reservation['pickup_time'].strftime('%Y-%m-%d') }} to {{ reservation['dropoff_time'].strftime('%Y-%m-%d') }}</div>
          <a class="action" href="{{ url_for('booking.update', id=booking['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">{{ booking['id'] }}</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
