{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Admin Dashboard{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="row">
    {% set items = [('Customers', 'customer.index'), ('Cars', 'car.index'), ('Bookings', 'booking.index')] %}
    {% for item, route in items %}
      <div class="col-md-4">
        {% if g.customer and g.customer['role'] == 1 %}
          <form action="{{ url_for(route) }}" method="get">
            <button type="submit" class="btn btn-primary btn-lg btn-block">
              <strong>Manage {{ item }}</strong>
            </button>
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
