{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Your Active Bookings{% endblock %}</h1>
  {% if g.customer %}
    <a class="action" href="{{ url_for('booking.create') }}">Add New</a>
  {% endif %}
{% endblock %}

{% block content %}
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Customer Name</th>
        <th>Pickup Time</th>
        <th>Car Name</th>
        <th>Edit</th>
      <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for booking in bookings %}
        <tr>
          <td>{{ booking['id'] }}</td>
          <td>{{ booking['name'] }}</td>
          <td>{{ booking['pickup_time'] }}</td>
          <td>{{ booking['name'] }}</td>
	   {% if g.customer and g.customer['role'] == 1 or g.customer and g.customer[id] == booking['customer_id'] %}
	  <td><form action="{{ url_for('booking.update', id=booking['id']) }}" method="get"><input class="update" type="submit" value="Update">
		  </form></td>
	  <td><form action="{{ url_for('booking.delete', id=booking['id']) }}" method="post"><input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
		  </form></td>
        {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

