{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Available Cars{% endblock %}</h1>
  {% if g.customer and g.customer['role'] == 1 %}
    <a class="action" href="{{ url_for('car.create') }}">Add New Car</a>
    <a class="action" href="{{ url_for('car.admin_mode') }}">See All Cars</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Seats</th>
      <th>Transmission</th>
      <th>Image</th>
      {% if g.customer and g.customer['role'] == 1 %}
        <th>Edit</th>
        <th>Delete</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for car in cars %}
      <tr>
        <td>{{ car.name }}</td>
        <td>{{ car.seat }}</td>
        <td>{{ car.gearbox }}</td>
        <td>
          <img src="{{ car.image }}" alt="{{ car.name }} Image" width="100">
        </td>
        {% if g.customer and g.customer['role'] == 1 %}
          <td><a class="update" href="{{ url_for('car.update', id=car['id']) }}">Edit</a></td>
          <td>
            <form action="{{ url_for('car.delete', id=car['id']) }}" method="post">
              <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
          </td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}

