{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
  {% if g.customer and g.customer['role'] == 1 %}
    <a class="action" href="{{ url_for('customer.create') }}">Add New</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Last Name</th>
      <th>Phone Number</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for customer in customers %}
      <tr>
        <td>{{ customer.name }}</td>
        <td>{{ customer.last_name }}</td>
        <td>{{ customer.phone_number }}</td>
        {% if g.customer and g.customer['role'] == 1 %}
	  <td><form action="{{ url_for('customer.update', id=customer['id']) }}" method="get"><input class="update" type="submit" value="Update">
		  </form></td>
	  <td><form action="{{ url_for('customer.delete', id=customer['id']) }}" method="post"><input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?')">
		  </form></td>
        {% endif %}
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
