{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ customer['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" value="{{ request.form['username'] or customer['username'] }}" required>
    <label for="name">Name</label>
    <input name="name" id="name" value="{{ request.form['name'] or customer['name'] }}" required>
    <label for="last_name">Last Name</label>
    <input name="last_name" id="last_name" value="{{ request.form['last_name'] or customer['last_name] }}" required>
    <label for="address">Address</label>
    <input name="address" id="address" value="{{ request.form['address'] or customer['address'] }}" required>
    <label for="phone_number">Phone Number</label>
    <input name="phone_number" id="phone_number" value="{{ request.form['d'] or car['door'] }}" required>
    <label for="gearbox">Gearbox Type</label>
    <input name="gearbox" id="gearbox" value="{{ request.form['gearbox'] or car['gearbox'] }}" required>
    <label for="image">Car image</label> 
    <input name="image" id="image" value="{{ request.form['image'] or car['image'] }}">
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('car.delete', id=car['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}